.dateTime {
    font-size: 2vh;
    margin: 0;
    align: right;
}
[sender = me] .dateTime {
    color: LightGray;
}
[sender = him] .dateTime {
    color: Gray;
}

.singleMess {
    word-wrap: break-word;
    display: inline-block;
    clear: both;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-size: 3vh; 
    text-align:right;
    max-width: 70%;
}
[sender = him]{
    background: #eee;
    float: left;
}
[sender = me]{
    float: right;
    background: #0084ff;
    color: #fff;
}
[sender]{
    border-bottom-right-radius: 5px;
}
[sender = me]{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}  
[sender = him]:last-of-type {
    border-bottom-right-radius: 30px;
}

[animation = "newMessage"] {
    animation: msg;
    animation-duration: 0.3s;
}
@keyframes msg {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}