.profileImg {
    flex: 1;
    max-height: 30vh;
    max-width: 30vh;
    border-radius: 20%;
    margin: 20px;
}
.profile_form {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0%;
    width: 100%;
    margin: 0;
    flex: 1;
    transition-duration: 0.5s;
    align-items:center;
}
.topLineContainer {
    display: flex;
    width: 100%;;
    font-size: 3vh;
    background-color: #0084ff;
    height: 10vh;
    align-items: center;
}
.profileTopic {
    font-size: 4vh;
    color: #fff;
    margin: auto;
    text-align: left, center;
    flex: 1;
}
.name {
    font-size: 3vh;
    color: rgb(114, 18, 158);
    margin: 20px;
    text-align: left, center;
}
.status {
    margin: 20px;
    font-size: 3vh;
    color: rgb(114, 18, 158);
    text-align: left, center;
}